@media screen and (max-width:665px){
    .cabecalho{
        background-color: #242424;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .animes{
        text-align: center;
    }
}

@media screen and (max-width:700px){
    .cabecalho{
        background-color: #242424;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .button{
        margin-top: 5px;
        width: 190px;
    }
}

@media screen and (min-width:1000px){
    .description{
        width: 50%;
    }
}

/*MOBILES*/
@media screen and (max-width: 425px){
    .cabecalho{
        background-color: #242424;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .animes{
        display: flex;
        flex-direction: column;
        align-items: center ;
    }

    .button{
        margin-top: 5px;
        width: 150px;
    }
}