/*reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Declaração de váriaveis*/
:root{
    --red:#e50914;
    --black:#141414;
}

/*scrollbar CSS*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--black);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--red);
    border-radius: 10px;
}

body{
    background: var(--black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
}

/*Englobando o cabeçalho*/
.cabecalho{
    background-color: #242424;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    color:var(--red);
    font-size: 40px;
}

.menu a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

.menu a:hover{
    color: var(--red);
}

/*main-movie*/

.main-movie{
    font-size: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, .60), rgba(0, 0, 0, .60)100%), url("/img/Kirito\ SAO.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .container{
    margin-left: 10px;
    width: 90%;
}

.title{
    margin-top: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    transition: 2s ease all;
}

.description{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    transition: 2s ease all;
    width: 60%;
}

.button{
    background-color: var(--red);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 1s ease all;
}

.button i{
    margin-right: 5px;
}

.button:hover{
    background-color: #ffffff;
    color: black;
}

.destaques{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-movie{
    margin-left: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: block;
}

.item i{
    font-size: 35px;
    color: #e50914;
    position: absolute;
    top: 7.5px;
    margin-left: 20px;
    cursor: pointer;
}

.item i:hover{
    transition: 1s ease all;
    color: rgb(255, 255, 255);
} 

.carrosel{
    margin-top: 5px;
}